.column-content {
    display: flex;
    flex-direction: column;
}

.btn-50 {
    margin-top: 5px;
    min-height: 50px;
}

.chat-container {
    display: grid;
    grid-template-rows: 1fr 130px;
}

.game-container {
    display: grid;
    grid-template-rows: 1fr 80px 50px;
}

.game-button {
    padding: 0 0 0 0;
    border: 1px solid #000000;
}

.game-button-placeholder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 40px;
    width: 100%;
    height: 80px;
}

@keyframes question-read {
    0% {color: red;}
    50% {color: red;}
    75% {color: red;}
}

#question-text {
    font-size: calc(20px + 4vw);
}

.question-letter {
    color: black;
    animation-name: question-read;
    animation-delay: 0s;
    animation-direction: normal;
}

.vertical-grid-5 {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    height: 100%;
}

.table-25 {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    height: 100%;
    width: 100%;
}

.centred-text {
    display: flex;
    margin: auto;
}

.spaced-text {
    margin-top: 15px;
}

.search-btns {
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-left: -30px;
    display: flex;
}

.choose-mode-btn {
    height: 70px;
    width: 300px;
}

#choose-mode-container {
    max-width: 300px;
    margin-top: 15vh;
    padding: 0 0 0 0;
}

.gm-popup {
    background-color: white;
    z-index: 5;
    position: absolute;
    top: 10vh;
    left: 0;
    margin-left: calc(20px + 2vw);
    max-width: 500px;
    display: grid;
    grid-template-rows: 70px 1fr;
    grid-template-columns: 1fr;
}

.player-display {
    background-color: #514c4c;
    color: white;
    text-align: center;
    flex-grow: 1;
    min-width: 80px;
}
